.cuantoSon{
    width: 100%;
    height: auto;
    background: rgba(157, 11, 255, 0.774);
    display: flex;
    flex-direction: column;
    align-items: center;
    .titulo2{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        h1{
            width: 100%;
            text-align: center;
            font-family: 'Oswald', sans-serif;
            font-size: 3rem;
            background: rebeccapurple;
            color:white;
            margin-bottom: 1rem;
            padding: 1rem;
            font-weight: lighter;
        }
        p{
            width: 90%;
            font-size: 2rem;
            font-family: 'Roboto', sans-serif;
            color: white;
        }
    }
    .acordeon{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .contenido{
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1rem;
            position: relative;
            .nombre{
                position: relative;
                width: 100%;
                background: white;
                color: rebeccapurple;
                font-family: 'Oswald', sans-serif;
                font-size: 3rem;
                padding: .5rem;
                border-radius: 25px 25px 0 0 ;
                font-weight: bold;
                text-align: center;
                cursor: pointer;
                .active{
                ::after{
                    content: " \002D";
                    }
                }
                ::before{
                    content: "\002B";
                    font-size: 2rem;
                    position: absolute;
                    right: 1rem;
                    color: rebeccapurple;
                    z-index: 0;
                    display: flex;
                }
            }
            .contenedor{
                max-height: 0;
                overflow: hidden;
                background: rgba(219, 218, 218, 0.801);
                transition: max-height 0.2s ease-out;
                border-radius: 0 0 25px 25px;
                .cuerpo{
                    font-size: 2rem;
                    padding: 2rem;
                    border-top: 5px solid;
                    font-family: 'Roboto', sans-serif;
                    border-image: linear-gradient(to right, transparent, rebeccapurple, transparent)1;;
                }
            }
            
        } 
    }
}

//tablets
@media screen and (max-width: 1024px){
    .cuantoSon{
        background: white;
        .titulo2{
            h1{
                font-size: 2.5rem;
                background:none;
                color: rebeccapurple;
                font-weight: bolder;
            }
            p{
                padding: 1rem;
                font-size: 2rem;
                color: black;
            }
        }
        .acordeon{
            width: 90%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            .contenido{
                .nombre{
                    background: rebeccapurple;
                    color: white;
                    font-size: 2rem;
                    font-weight: lighter;
                }
                .contenedor{
                    .cuerpo{
                        font-size: 1.5rem;
                        padding: 1rem;
                    }
                }
                
            } 
        }
    }
}
//moviles
@media screen and (max-width: 500px){
    .cuantoSon{
        .titulo2{
            h1{
                font-size: 2rem;
                padding: 1rem;
                margin-bottom: .5rem;
            }
            p{
                font-size: 1.5rem;
            }
        }
        .acordeon{
            .contenido{
                .contenedor{
                    .cuerpo{
                        font-size: 1.2rem;
                    }
                }
                
            } 
        }
    }
}