.cuantoSon{
    width: 100%;
    height: auto;
    background: rgba(157, 11, 255, 0.774);;
    .titulo2{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            width: 100%;
            text-align: center;
            font-family: 'Oswald', sans-serif;
            font-size: 3rem;
            background: rebeccapurple;
            color:white;
            margin-bottom: 1rem;
        }
        p{
            width: 90%;
            font-size: 2rem;
            font-family: 'Roboto', sans-serif;
            color: white;
        }
        .arquetipos{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            .cuadro{
                width: 400px;
                height: 600px;
                margin: .7rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: .5rem;
                background: rgb(250, 250, 250);
                border-radius: 25px;
                box-shadow: 12px 16px 35px rgba(0, 0, 0, 0.582);
                h1{
                    font-family: 'Oswald', sans-serif;
                    color: rebeccapurple;
                    background: none;
                    margin-bottom: .3rem;
                }
                p{
                    font-family: 'Roboto', sans-serif;
                    text-align: justify;
                    font-size: 1.65rem;
                    padding: .2rem;
                    color: black;
                }
            }
            .cuadro1{
                width: 400px;
                height: 600px;
                margin: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: .5rem;
                background: rgb(228, 228, 228);
                border-radius: 25px;
                box-shadow: 12px 16px 35px rgba(0, 0, 0, 0.582);
                h1{
                    font-family: 'Oswald', sans-serif;
                    color: rebeccapurple;
                    background: none;
                    margin-bottom: .3rem;
                }
                p{
                    font-family: 'Roboto', sans-serif;
                    text-align: justify;
                    font-size: 1.65rem;
                    padding: .2rem;
                    color: black;
                }
            }
        }
    }
}

//tablets
@media screen and (max-width: 1024px){
    .cuantoSon{
        background: white;
        .titulo2{
            h1{
                background: none;
                color: rebeccapurple;
            }
            p{
                color: black;
            }
            .arquetipos{

                .cuadro{
                    background: rgb(120, 59, 180);
                    width: 100%;
                    height: auto;
                    padding: 0;
                    margin: .7rem;
                    margin-bottom: 1.2rem;
                    h1{
                        background: rebeccapurple;
                        color: white;
                        border-radius: 25px 25px 0 0;
                    }
                    p{
                        margin: 1rem;
                    }
                }
                .cuadro1{
                    background: rgb(143, 92, 194);
                    width: 100%;
                    height: auto;
                    padding: 0;
                    margin: .7rem;
                    margin-bottom: 1.2rem;
                    h1{
                        background: rebeccapurple;
                        color: white;
                        border-radius: 25px 25px 0 0;
                    }
                    p{
                        margin: 1rem;
                    }
                }
            }
        }
    }
}
//moviles
@media screen and (max-width: 500px){
    .cuantoSon{
        .titulo2{
            h1{
                padding: .8rem;
                font-size: 2rem;
                margin-bottom: 0;
            }
            p{
                font-size: 1.2rem;
                width: 90%;
                padding: .5rem;
                font-weight: bold;
            }
            .arquetipos{
                .cuadro{
                    
                    h1{
                        width: 100%;
                        padding: .8rem;
                        font-size: 2rem;
                    }
                    p{
                        margin: 1.5rem;
                        font-size: 1.2rem;
                    }
                }
                .cuadro1{
                    h1{
                        width: 100%;
                        padding: .8rem;
                        font-size: 2rem;
                    }
                    p{
                        margin: 1.5rem;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}